#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.signUp {
  border-radius:25px;
  border-style: solid;
  width:700px; 
  height: 150px;
  background-color: #c3a6f5;
  border-color:#c3a6f5;
  
}

.authenticate {
  padding-top: 3px;
  border-radius:25px;
  margin: 0 auto;
  width: 350px; 
  height: 200px;
  background-color:#c3a6f5;
  margin-top: 15px;
  padding-bottom: 10px;
  border-color:#c3a6f5;
  
}

.submitButton {
  margin-left: 10px;
}

label {
  margin-right:10px;

}

h2 {
  font-family: Didot, serif;
  font-weight: bold;
  border-style: solid; 
  border-radius:25px;
  border-color:#c3a6f5;
  background-color:white;
  width:250px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom: 20px;
}

.errorMessage {
  font-family: Didot, serif;
  font-weight: bold;
  border-style: solid;
  border-radius:25px;
  border-color: #c3a6f5;
  width:330px;
  background-color: white;
  margin: 0 auto;
  color: blue;
  font-size: 17px;
}
